DISCORD_TOKEN=
MONGODB_URI=
OWNER_ID=

OSU_CLIENT_ID=
OSU_CLIENT_SECRET=

PREFIX=.
BOT_STATUS=online
BOT_ACTIVITY_TYPE=LISTENING
BOT_ACTIVITY_NAME=LOLE
BOT_ACTIVITY_URL=https://chiko.cc/

COUNTDOWN_CHECK_SECONDS=60
LINK_WARNING_COOLDOWN_SECONDS=30
LINK_WARNING_DELETE_SECONDS=5
OSU_COMMAND_COOLDOWN_SECONDS=5
